@tailwind base;
@tailwind components;
@tailwind utilities;

.chessboard-background {
  background-color: #f4ff8f;
  background-image: linear-gradient(45deg, #fa635e 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #fa635e 75%),
    linear-gradient(45deg, transparent 75%, #fa635e 75%),
    linear-gradient(45deg, #fa635e 25%, transparent 25%);
  background-size: 200px 200px; /* Adjust the size of the squares */
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
